body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
  color: #333;
}

h1,
h2,
h3 {
  color: #0056b3;
}

.profile-management,
.profile-list-container {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="number"],
input[type="password"],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 22px); /* Full width minus padding and border */
  margin-bottom: 10px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

textarea {
  resize: vertical;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 5px;
}

button:hover {
  background-color: #0056b3;
}

#profileList {
  list-style: none;
  padding: 0;
}

#profileList li {
  background-color: #e9ecef;
  margin-bottom: 8px;
  padding: 10px 15px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profileList li span {
  font-weight: bold;
  flex-grow: 1;
}

#profileList li button {
  margin-left: 10px;
}

.delete-profile-btn {
  background-color: #dc3545;
}

.delete-profile-btn:hover {
  background-color: #c82333;
}

.edit-config-btn {
  background-color: #ffc107;
  color: #333;
}

.edit-config-btn:hover {
  background-color: #e0a800;
}

/* Modal Styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* Đặt lại margin để modal không quá cao */
  padding: 20px;
  border: 1px solid #888;
  width: 90%; /* Chiếm nhiều không gian hơn trên màn hình */
  max-width: 800px; /* Giới hạn chiều rộng */
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
}

.config-section {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.config-section label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.config-input {
  width: calc(100% - 10px); /* Adjust width for consistency */
}

#configMessage {
  margin-top: 10px;
  font-weight: bold;
}
